body {
    background-image: url('../imgs/Fundo_Inicial.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

a, a:hover {
    color: white;
    padding-bottom: 3%;
}

div.form-group a {
    text-decoration: underline;
    padding: 0%;
}

div.row {
    padding: 3% 15%;
}

div.container {
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #1A1A1A;
    width: 350px;
    position: relative;
    top: 70px;
}

div.form-group {
    padding: 0% 15%;
}

